.allBtn {
    background-color: rgb(72, 161, 161);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 80%;
  }
  .allBtn:hover{
    background-color:rgb(141, 175, 175);
  }
  #starAddBtn{
margin-left: 20%;
margin-top: 20%;
  }